// Colours
$black: #000;
$white: #fff;

// Fonts
$rozhaOne: 'Rozha One', serif;
$roboto: 'Roboto', sans-serif;

// Queries
$mobile: 'only screen and (min-device-width: 375px) and (max-device-width: 667px)';
